<!--Jose Orozco-->

<div style="text-align: center">
  <h1>
    Bienvenidos Banco de Electivas
  </h1>
  </div>
  <ul class="navbar-nav">
      <li class="nav-item">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <a routerLink="/electivaslist"   class="navbar-brand"> Listar Estudiante</a> --
          <a routerLink ="/electivasadd"  class="navbar-brand" > Agregar Estudiante</a>
        </nav>
        </li>
  </ul>
  
        
<div>
  <router-outlet></router-outlet>
</div>
